<a href="https://colab.research.google.com/github/chirag-devOps/Pandas/blob/master/LearnPandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

Creating dataframe from list of string

In [9]:
list = ['raj','john','sunil','sam','samuel']
df = pd.DataFrame(list)
print(df)

        0
0     raj
1    john
2   sunil
3     sam
4  samuel

Creating dataframe from a dictionary

In [13]:
dictdata = {'Name':['raj','john','sunil','sameera','samuel','monica'],
            'Age':[22,55,22,64,36,45],
            'Sex':['M','M','M','F','M','F'],
            'City':['Moscow','Delhi','Sydney','Paris','London','Auckland']}
df_dict = pd.DataFrame(dictdata)
# print specific attributes
print(df_dict[['Name','Age','Sex']])

      Name  Age Sex
0      raj   22   M
1     john   55   M
2    sunil   22   M
3  sameera   64   F
4   samuel   36   M
5   monica   45   F